html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

.container{
  width:99%;
  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.value{
  width: 5px;
  background-color: aqua;
  margin-left: 1px;
  margin-right: 1px;
  display: inline-block;
}

.navbar{
  width: 100%;
}